* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 1280px) {
  body, html {
    font-size: 8.89px;
  }
}
@media screen and (max-width: 768px) {
  body, html {
    font-size: 10px;
  }
}
@media screen and (max-width: 430px) {
  body, html {
    font-size: 11.04px;
  }
}
@media screen and (max-width: 400px) {
  body, html {
    font-size: 10px;
  }
}
